*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.vehicle{
      padding: 20px ;
      background-color: #1B1E66;
      color: white;
      height: 600px;

}
.vehicle h1{
    font-size: 30px;
}
.transport{
    display: flex;
    text-align: center;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    padding: 50px;
}
.trans{
   display: grid;
    gap: 20px;
    padding: 20px;
    width: 250px;
   
}
.imgbox{
    display: flex;
    gap: 50px;
    height: 150px;
    width: 150px;
    justify-content: center;    
    border: 5px  solid #ffc107;
    padding: 18px;
    background-color: white;
}
.imgbox :hover{
    transform: scale(1.1);
    transition: 0.3s;
}

 .title{
    display: flex;
    align-items: center;
    padding-left: 40px;
    /* justify-content: center; */
    font-size: 15px;
 }
